@import '../../../reset.less';
.fourth_about{
    width: 100%;
    padding-top: 100px;
    .container{
        width: 1100px;
        margin: 0 auto;
        overflow: hidden;
        h2{
            .txt;
            font-size: 28px;
            color: black;
            font-weight: 500;
            margin-bottom: 40px;
        }
            div{
                text-align: left;
                margin-right: 20px;
                img{
                    width: 200px;
                }
                p{
                    .txt;
                }
                h3{
                    font-size: 18px;
                    font-weight: 600;
                }
            }

    }
}
